<!--
Richard Rolston
Coursera Class: Single Page Web Applications with AngularJs
Module 2 Coding Assignment
Instructor: Yaakov Chaikin
Date: May 6, 2017
-->
<!doctype html>
<html lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
  </head>
<body ng-app="ShoppingListCheckOff">
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller='ToBuyController as list1'>
     <h2>To Buy:</h2>
     <ol>
       <li ng-repeat="item in list1.items">
         Buy {{ item.quantity }} {{ item.name }}
         <button ng-click="list1.removeItem($index);">Bought</button>
       </li>
     </ol>

     <div class="emptyMessage" ng-if="list1.items.length == 0">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller='AlreadyBoughtController as list2'>
     <h2>Already Bought:</h2>
     <ol>
       <li ng-repeat="item in list2.items">
         Bought {{ item.quantity }} {{ item.name }}
       </li>
     </ol>
     <div class="emptyMessage" ng-if="list2.items.length == 0">Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>
